<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{post}}</p>
    <a href="#" class="card-link"></a>
  </div>
</div>