<div id="blog-poss" class="col-12">
    <div class="blog-posts_box d-flex flex-wrap justify-content-center">
        {{#each blogs as |blog|}}
        {{> blog-post-partial}}
        {{/each}}
    </div>
</div>


<script src="/js/homepage.js"></script>